
body{
    width: 100%;
    overflow: hidden;
    background-color: #2D3561;
    background-image: url(../img/);
    background-position: center;
    background-size: cover;
}


/*CAÇA PALAVRAS*/
.game{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.linha{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.game td{
    background-color: #C05C7E;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 1px;
    height: 1px;
    margin: 2px;
    border: #fff;
}
#teste{
    background-color:#C05C7E;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 15px;
}
td:hover {
    background: #F3826F;
}
#joquempo{
    background-color:#C05C7E;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 15px; 
}
button#joquempo:hover{
    background: #F3826F;  
}
button#teste:hover{
    background: #F3826F;  
}
h1{
    color: #FFB961 ;
    font-size: 42px;
    margin-bottom: 50px; 
}
img{
    width: 17.9em;
    height: auto;
    display: flex;
    align-items: center;
}
h2{
    color: #FFB961 ;
    font-size: 42px;
    margin-bottom: 50px; 
    display: none;  
}
h3{
    
}


